# OSX files
.DS_Store

# VSCode
.vscode/
*.code-workspace

# Webstorm
.idea

# Dependency directories
node_modules/
*.code-workspace

# Build artifacts
build/

# Test results
coverage
test-results.json

# Local dev
md-files
www
inputMDFiles
default-md-files/**/*.svg