# OSX files
.DS_Store

# VSCode
.vscode/
*.code-workspace

# Dependency directories
node_modules/
*.code-workspace

# Build artifacts
build/

# Test results
test-results.json

# Local dev
md-files
www
inputMDFiles