language: node_js
node_js:
  - lts/*

before_deploy: npm run make-package && cd package # cd so that the default use of 'npm publish' by this provider deploys/publishes the right files

deploy:
  provider: npm
  email: ConnectedTV-Development@lists.forge.bbc.co.uk
  api_key:
    secure: iJuf8D/K3fEnesy7i8PoQh/auS6rRtixOo1kQCL+AhoF1KUym1HisbXvOxX4+oMJIj+g/23V/yvBPxRZb4JEbZEJAbGiqVnOHC6Uw/2faHr0YK4VAsRRb1++5362mqQg7ovFyl8FfPDgTIMc/23C9Ei5oDKnCwP95kq9/vRli9s61vuI0Ahm7rJ5NKGUOGQIPL5B4MYwPfy7LGw56MAp7loIXH+c/q2YlRiYt18iQ1KPISTe01OBDXz9B8lzCGE4IADiXZQqiZelE01Svk5NUF7b0shi3l1u5knmV4iEptwOqAT9Dgv7RbFwmT1hvIXQ5SjKwIWQFHpgB/sEeyEkB6wm/lYwBJhbgmp0Z26iSpjJHPHaNn8+tFo09Gntn2W6NTmqvlgegkTwVwVd+bvrP9t6T6OC5I9UkAvM7qCaSLcI5b0V4MsllKhQywslhiCD8hczgxVGJUf8LpLTx/PWwkJcdmCO1xgzwFNMe5UHQ3T0RJZAHVyfKw225CIk6k4TILmMJKyR268/CAtWpewT+Vq5VHjBlOSGcbJUoF/OitqZR7/d3zJL56+0VutrQAyIDgDJ5KIuRJgVqj7OhPbkQrtqMqF8qYAvZo0lBGVeR+vsVsA+sUmAPkTOe3k2FcH5GXoDYoj+Unrlwu4/aIGJc2dLvK22kwqIwYzr9z4Idpg=
  skip_cleanup: true
  on:
    tags: true
    repo: bbc/morty-docs # prevent forks
    branch: master
